MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/?appName=CoCaNgua
MONGODB_DB=LudoGameDB
PLAYERS_COLLECTION=Players
MATCH_HISTORY_COLLECTION=MatchHistories
ADMIN_PASSWORD=replace-with-at-least-12-characters
PORT=3000
